@model ReferralNameValueViewModel

@{
    var last = Model.Value.DetachedField.AvailableValues.LastOrDefault();
    var separator = ViewBag.separator ?? true;
    var selected = Model.Value.GetValues();
    var frame = ViewBag.frame ?? false;
    var showInput = ViewBag.showInput ?? true;
    var ch = selected.Any();
    var stars = (int[])ViewBag.ChildStars ?? new int[0];
    var index = 0;
}

@if (!frame)
{
    @:<div style="line-height: 1.5;"><table style="border-collapse: collapse;"><tbody><tr><td style="white-space: nowrap; border-collapse: collapse;">@if(showInput){ <input type="checkbox" style="vertical-align: middle; margin: 0 10px 0 0;" disabled @ByCondition(ch, "checked")>}@if (!string.IsNullOrEmpty(Model.Value.DetachedField.Title)){ @L(Model.Value.DetachedField.Title)<text>:</text> @LabHelpers.Stars(ViewBag.Stars ?? 0)}</td><td style="border-collapse: collapse;">
}

@foreach (var item in Model.Value.DetachedField.AvailableValues)
{
    var starCount = stars.Length > index ? stars[index] : 0;
    index++;
    if (frame)
    {
        if (selected.Contains(item.Value)) { <span style="border: 4px solid #000;">@L(item.Value)</span> }
        else { <span>@L(item.Value)</span> }
    }
    else
    {
        if (selected.Contains(item.Value)) { <span style="font-weight: bold; color: #000; text-decoration: underline;">@L(item.Value)</span> }
        else { <span>@L(item.Value)</span> }
    }
    @LabHelpers.Stars(starCount)
    if (last.Id != item.Id && separator)
    { 
        <em style="margin: 0 6px;">|</em>
    }
}

@if (!frame)
{
    @:</td></tr></tbody></table></div>
}
