@using System.Diagnostics
@using MedIn.Web
@model UserEntity

@{
    Debug.Assert(Model.Key.HasValue);
    var url = Url.ActionAbsolute(MVC.Accounts.ConfirmRegistration((Guid) Model.Key));
    var link = @Url.ActionAbsolute(MVC.Default.Index());
}

<p>Вы зарегистрировались на сайте <a href="@link">@link</a>. 
Чтобы завершить регистрацию пройдите по ссылке <a href="@url">@url</a></p>
<p>Если вы не регистрировались на сайте, то просто проигнорируйте это письмо.</p> 



<p>You just registered on the <a href="@link">@link</a> site. To complete registration please follow with this link <a href="@url">@url</a>.</p>
<p>If you do not registered, please ignore this mail.</p>