@using MedIn.Web
@model MedIn.Web.Models.FeedbackViewModel

<p><strong>На сайте был задан вопрос, ожидающий ответа.</strong></p>
<p><strong>Имя пользователя:</strong> @Model.Username</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Вопрос:</strong> @Model.Message</p>

<p>Что вы можете сделать сейчас:</p>
<p>Прочитать вопрос по ссылке <a href="@Url.ActionAbsolute(MVC.Admin.Questions.Edit(Model.Id))">@Url.ActionAbsolute(MVC.Admin.Questions.Edit(Model.Id))</a></p>
@*<p>Сделать вопрос видимым на сайте <a href="@Url.ActionAbsolute(MVC.Admin.Questions.SetVisibility(Model.Id, true))">@Url.ActionAbsolute(MVC.Admin.Questions.SetVisibility(Model.Id, true))</a></p>*@
<p>Пройдите в <a href="@Url.ActionAbsolute(MVC.Admin.Questions.Edit(Model.Id))">админку</a>, ответьте на вопрос и сделайте его видимым, если хотите чтобы он отображался на сайте</p>