@{
    Layout = null;
    var metadata = WebContext.Metadata;
}
<!DOCTYPE html>
<html>
<head>
    <title>@(metadata.MetaTitle)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*@if (string.IsNullOrEmpty(metadata.MetaDescription))
        { <meta name="description" content="@L("MetaAbout3DLab")"> }
        else
        { <meta name="description" content="@metadata.MetaDescription"> }
        @if (!string.IsNullOrEmpty(metadata.MetaKeywords))
        { <meta name="keywords" content="@metadata.MetaKeywords"> }*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic&subset=cyrillic-ext,latin-ext" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />*@
    <link href="~/Styles/default1.css" rel="stylesheet" media="screen" />
    <link href="~/Styles/default2.css" rel="stylesheet" media="screen" />
    <link href="~/Styles/default3.css" rel="stylesheet" media="screen" />
    <link href="~/Styles/default4.css" rel="stylesheet" media="screen" />
    <link href="~/Styles/default5.css" rel="stylesheet" media="screen" />
    
    @*<link href="~/Styles/print.css" rel="stylesheet" media="print, handheld" />
    <link rel="stylesheet" media="screen" id="invert" />
    <link href="~/Styles/toastr.css" rel="stylesheet" />
    <link href="~/Styles/toastr-responsive.css" rel="stylesheet" />
    <link href="~/Scripts/mp/magnific-popup.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
    @RenderSection("head", false)
</head>

<body id="@(ViewBag.BodyId ?? "def-page")" class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-10 node-type-page">
    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Перейти к основному содержанию</a>
    </div>
    <div id="wrapper">

        <div class="padder">
            <div id="header">
                <div class="top-line"></div>
                <div class="section">
                    <a href="/" title="Главная" rel="home" id="logo">
                        <img src="~/Content/i/logo.png" alt="Главная" />
                    </a>
                    <div id="slogan">
                        Производство медицинского оборудования
                    </div>

                    <div id="navigation">
                        <ul class="menu">
                            @{ Html.RenderAction(MVC.Default.TopMenu()); }
                        </ul>
                    </div>
                </div>
            </div><!-- #header-->
            @if (WebContext.Location.Alias == "default")
            {
                Html.RenderAction(MVC.Default.MainSlider());
            }
            <div id="middle">
                <div id="container">
                    <div id="content">
                        @RenderBody()
                    </div>
                </div>
                @RenderSection("leftMenu",false)
                <div id="pusher"></div>
            </div>
            <div id="footer">
                <div class="section">
                    <div class="region region-footer">
                        <div id="block-block-1" class="block block-block">


                            <div class="content">
                                <p><span style="font-size:11px;"><span class="copyright"><span style="font-size:12px;"><span style="font-size:11px;">© </span>2004—2014</span> Иностранное унитарное предприятие «Мединдустрия Сервис»</span> <span class="phone">(+375 17) 504 80 12</span> <a class="mailto" href="mailto:med@medin.by">med@medin.by</a>  <span style="font-size:10px;"><span class="dev"><span style="font-size:9px;">Разработано в студии</span> <a href="http://webseo.by">webseo.by</a></span></span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #footer -->
        </div>
    </div>
    <script defer="defer" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script defer="defer" src="~/Scripts/jquery.validate.min.js"></script>
    <script defer="defer" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script defer="defer" src="~/Scripts/mp/jquery.magnific-popup.min.js"></script>
    <script defer="defer" src="~/Scripts/jquery.cookie.js"></script>
    <script defer="defer" src="~/Scripts/toastr.js"></script>
    @*<script defer="defer" src="~/Scripts/default.js"></script>*@
    @RenderSection("scripts",false);
</body>
</html>
