@model MedIn.Web.Models.RecPasswordViewModel


@Html.LabelFor(x=>x.NewPassword,L("NewPassword"))
<div>
    @Html.PasswordFor(x=>x.NewPassword)
    @Html.ValidationMessageFor(x=>x.NewPassword)
</div>


@Html.LabelFor(x=>x.ConfirmPassword,L("ConfirmPassword"))
<div>
    @Html.PasswordFor(x=>x.ConfirmPassword)
    @Html.ValidationMessageFor(x=>x.ConfirmPassword)
</div>
