@using MedIn.OziCms.Helpers
@model SettingsViewModel



@Html.LabelFor(x => x.Image, L("ChangeMyPhoto"))
<div class="personal-file">
    <div class="image">@Html.Image(Model.Image, "width=100", "height=100", "mode=max")</div>
    <div class="file">
        <input type="file" name="Avatar" />
    </div>
</div>

@Html.LabelFor(x => x.FullName, L("InputYourName"))

<div>
    @Html.EditorFor(x => x.FullName)
    @Html.ValidationMessageFor(x => x.FullName)
</div>

@Html.LabelFor(x => x.Email, L("Email"))

<div>
    @Html.EditorFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
</div>

@Html.LabelFor(x => x.PhoneNumber, L("PhoneNumber"))

<div>
    @Html.EditorFor(x => x.PhoneNumber)
</div>

<h3 style="margin-top:18px;">@L("ChangePassword")</h3>

@Html.LabelFor(x => x.OldPassword, L("OldPassword"))
<div>
    @Html.PasswordFor(x => x.OldPassword)
    @Html.ValidationMessageFor(x => x.OldPassword)
</div>



@Html.LabelFor(x => x.NewPassword, L("NewPassword"))
<div>
    @Html.PasswordFor(x => x.NewPassword)
    @Html.ValidationMessageFor(x => x.NewPassword)
</div>

@Html.LabelFor(x => x.ConfirmPassword, L("ConfirmPassword"))
<div>
    @Html.PasswordFor(x => x.ConfirmPassword)
    @Html.ValidationMessageFor(x => x.ConfirmPassword)
</div>


