@model Project[]
           
<div class="content">
    <div class="view view-projects view-id-projects view-display-id-page view-dom-id-598e1cb2915499bd07883d8a3b9712bd">
        <div class="view-content">
            <table class="views-view-grid cols-2">
                <tbody>
                    @for (var i = 0; i < Model.Length; i++)
                    {
                        if (i % 2 == 0)
                        {
                            @:<tr class="row-@(i+1) @ByCondition(i == 0, "row-first", i == Model.Count(), "row-last")">
                         }
                                <td class="col-@ByCondition(i % 2 == 0, "2 col-last", i % 2 != 0, "1 col-first") ">
                                    <div class="views-field">
                                        <div class="field-content">
                                            <a href="@Url.Action(MVC.Projects.Details(Model[i].Alias))">
                                                <img typeof="foaf:Image" src="@Url.Content(Model[i].Gallery.Files.First().Name)" width="149" height="96" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="views-field views-field-body">
                                        <div class="field-content">
                                            <a href="@Url.Action(MVC.Projects.Details(Model[i].Alias))">@Model[i].Name</a>
                                        </div>
                                    </div>
                                </td>
                        if (i % 2 != 0 || i == Model.Length - 1)
                        {
                            @:</tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
