
@using MedIn.Web
@model MedIn.Web.Models.RecPasswordViewModel
<div class="form">
@Html.ValidationSummary(true)
@using (Html.BeginForm(MVC.Accounts.RecoveryPassword(),FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    @Html.HiddenFor(x=>x.Key)
    @Html.Submit(L("Change"))
}
</div>