@model ReferralNameValueViewModel

@{
    var m = Model.Value != null && Model.Value.IsChecked();
}

<input @ByCondition(m, "checked") class="chkbx" type="checkbox" name="@Model.Field.Name" @Html.Raw(Model.Field.Price.HasValue ? "data-price='" + Model.Field.Price.Value.ToString("#.#") + "'" : string.Empty) id="@Model.Field.Name"><label for="@Model.Field.Name"><strong>@L(Model.Field.Title)</strong></label>@LabHelpers.Stars(ViewBag.Stars ?? 0)
